<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="https://maps-api-ssl.google.com/maps/api/js?v=3&&sensor=false"
          type="text/javascript"></script>
</head> 
<body>
  <div id="map" style="width: 1000px; height: 1000px;"></div> 
  <script type="text/javascript">
    var pics = "{{pic}}".replace(/&quot;/g,"")
    pics = pics.substring(1,pics.length-1)
    var arr = pics.split(",")
var i; 
for (i = 0; i < arr.length/2 - 4; i++) {
     var str = "<a href=https://www.google.com/>"
     str = str.concat("<img src=")
     str = str.concat(arr[i])
     str = str.concat("></a>")
    document.getElementById('map').innerHTML+= str

    }
document.getElementById('map').innerHTML+="<img src=http://3.bp.blogspot.com/-z5xEpvhOlkQ/URZYqsm0leI/AAAAAAAABfc/ojZ7fPYtyaM/s1600/happy-new-year-6-rose-candle-night.jpg width = 1000px height =400px>"

 for (i = arr.length/2 -4; i < arr.length; i++) {
     var str = "<a href=https://www.google.com/>"
     str = str.concat("<img src=")
     str = str.concat(arr[i])
     str = str.concat("></a>")
    document.getElementById('map').innerHTML+= str

    }
  </script>
</body>
</html>
