<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <script src="https://maps-api-ssl.google.com/maps/api/js?v=3&&sensor=false" 
          type="text/javascript"></script>
</head> 
<body>
  <div id="map" style="width: 1000px; height: 700px;"></div> 
  <script type="text/javascript">
    var json = "{{me1}}".replace(/&quot;/g,"\"")
    
    var locations = "{{locations}}".replace(/&quot;/g,"")
    var me = "{{me}}".replace(/&quot;/g,"")
    locations = locations.substring(1,locations.length-1)
    var arr  = locations.split("],")
 
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
    center: new google.maps.LatLng(22.217920, 16.523438),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
 
    var marker, i,city;
    var geocoder = new google.maps.Geocoder();


    var x;
    var cities = [];
    var unmarked_cities = [];
    var marked_cities = [];
    for(i=1;i<arr.length;i++) {
        x = arr[i].split(",")
        var latlng = new google.maps.LatLng(parseInt(x[1]), parseInt(x[2]));
        city = x[0].substring(2,x[0].length);
        city = city.toLowerCase();

        if(cities.indexOf(city)===-1){
          cities.push(city);
          setcontent(city);
        }
    }

    var infowindow = new google.maps.InfoWindow();
    
    function setcontent(address) {
         var marker = new google.maps.Marker({
           map: map,
           position: latlng
           });
         google.maps.event.addListener(marker, 'click', (function(marker) {
             return function() {
               //infowindow.setContent(address);
               /*$.ajax({
                url: '/canvas/friends/'+address,
                dataType: 'html',
                success: function(data){
                infowindow.setContent(data);
                infowindow.open(map, marker);
                }
              });
                infowindow.open(map, marker);*/
         window.open('/canvas/friends/'+address);
             }
         })(marker));
    }
  </script>
<p> {{pic}}</p>
</body>
</html>
